.logo{
	width: 55%;
}
#aboutus {
	margin-top: 22px;
}
h4 {
	color: white;
	font-stretch: normal;
	font-family: initial;
	margin-left: -28px;
	text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
.navigation {
	display: inline-flex;
	list-style-type: none;
	/*margin-left: 204px;*/

}
.navigation li {
	margin-right: 17px;
	position: relative;
	top: 15px;
}
.img-responsive.logo {
	margin-top: 17px;
}
.lastpic {
	height: 237px;
	width: 305px;
}
.bannerimage {
	width: 10;
	margin-top: 21px;
	border-radius: 25px;
}

.col-md-1.text-left {
	margin-top: 15px;
	font-size: 44;
	text-align: left;
}
.custombtn {
	padding: 5px 10px;
	position: relative;
	top: 10px;
	width: 80px;
	color: aquamarine;
	background-color: unset;
	border-style: outset;
	border-radius: 25px;
	margin-left: 194px;
	margin-top: -17px;
}
.custombtn1 {
	padding: 5px 10px;
	top: 10px;
	width:80px;
	border:rounded;
	color: aquamarine;
	background-color: unset;
	border-style: outset;
	border-radius:25px;

}
pre {
	margin-top: 58px;
	text-align:left;
}
a {
	color: #060606;
	font-weight: 600;
}
a:hover {
	color: #f79b34;
	text-decoration: none;
}
#userinfo {
	text-align: center;
}
.custombtn:hover {
	background: #292929;
}
.col-md-6 {
	color: white;
	font-size: larger;
	font-family: initial;
	color: #96d2bd;
}
.bannerimage {
	width: 100%;
}
.bannerimage{
	width:100%;
}
h1{
	font-size:30px;
	color: #080808;
	font-weight: 600;
	margin-top: 20px;
}
header {
	position: fixed;
	z-index: 999;
	background-color:#3b384d;
	width:100%;
	height: 80px;
	opacity:0.5;
}
.abimage {
	height: 252px;
	border-radius: 30px;
}
.bannerimage {
	margin-top: 79px;
}
h1 {
	font-size: 86px;
	margin-top: 196px;
	font-family: initial;
	font-style: italic;
	text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
.col-md-4 {
	color: whitesmoke;
}
.readmore
{
	color:black;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: justify;
}
.textonimage {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-center {
	position: absolute;
	bottom: 8px;
	left: 255px;
	color: white;
	font-size: x-large;
}
.col-md-12.abouthtml
{
	font-size: x-large;
	margin-top: 147px;
	margin-bottom: 100px;
    color:white;
}
.col-md-12 {
	font-size: 59px;
	font-family: initial;
}
.help {
	margin-top: 79px;
}
.loginform1 {
	margin-left: 454px;
	margin-top: 124px;
	color: white;
	font-size: unset;
}
#img1 {
	width: 41px;
	margin-left: 40px;
	margin-top: 30px;
	border-radius: 25px;
}

#userrow {
	text-align: center;
}
#foot
{

	margin-top: 18px;
}
footer {
	background: #141414;
	margin-top: 290px;
}
.h2, h2 {
	font-size: 21px;
	text-align: center;
	color: #fff;
	text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}
.img-thumbnail.pic1 {
	height: 184px;
}
.img-thumbnail.pic1.\32  {
	width: 203px;
}
.text-left {
	text-align: left !important;
}
#\31  {
	margin-top: 34px;
}
a {
	color: white;
	font-weight: 600;
}